@import "../main.scss";


.revente
{
  @include flex(row, center, center);
  text-align: left;
  padding: 10%;
}

#revente-section
{
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

#revente-section>.heading-wrapper
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#revente-section>h1
{
  margin-bottom: 0;
}
