@import "../main.scss";

.stockage 
{
  p
  {
    width: 50%;
  }
}

.p1
{
  margin-block-end: 15%;
}

section.heading-right>.image-wrapper>img
{
  width: 80%;
}

#innovation-wrapper
{
  align-items: baseline;
}

#monitoring-image
{
  height: 400px;
  width: auto;
}

#decompo-bi-verre-phone
{
  display: none;
  margin-block-end: 10%;
}


@media screen and (width>1073px)
{
  #decompo-wrapper
  {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  #decompo-bi-verre
  {
    width: 80%;
  }
  
}
