@import "../main.scss";

.stockage 
{
  p
  {

    width: 80%;
    text-align: justify;
    margin-top: 10%;
    @media#{$desktop}
    {
      width: 55%;
    }
  }
}

.p1
{
  margin-block-end: 15%;
}

section.heading-right>.image-wrapper>img
{
  width: 80%;
}

.design
{
  @media#{$desktop}
  {
    align-items: flex-start;
  }
}

.batterie, .performance
{
  justify-content: space-around;
  p{
    @media#{$mobile}
    {
      margin: 10%;
    }
  }
}


#coffret
{
  @media#{$desktop}
  {
    display: none;
  }
}

#ugc-image
{
  @media#{$mobile}
  {
    display: none;
  }
  width: 17%;
}

#monitoring-image
{
  height: 400px;
  width: auto;
}


@media screen and (width>1073px)
{
  #decompo-wrapper
  {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  #decompo-bi-verre
  {
    width: 80%;
  }
  
}
