@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Secular+One&display=swap');
@import "./variables.scss";
@import "./mixins.scss";
@import "./mobile.scss";
@import "./button.scss";
@import "./nav-bar-style.scss";

@media #{$desktop}
{
  .mobile
  {
    display: none;
  }
}

*
{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}

html, body
{
  overflow-x: hidden;
  background: radial-gradient(circle at top left, rgb(255 255 255 / 10%) 20%, rgba(255, 238, 0, 0.35), #00b0eb77);
  font-size: 16px;
}

img
{
  width: 80%;
  @media#{$desktop}
  {
    width: 50%;
  }
}

a
{
  img
  {

    width: 10%;
  }
}

header
{
  display: flex;
  position: relative;
  min-width: 100%;
  min-height: 10vh;
  height: auto;
  text-align: center;
  @media #{$mobile}
  {
    background-image: url('../../media/photo/phone-background.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right;
  }
  .cta-button
  {
    background-color: $secondColor;
    color: $firstColor;
    box-shadow: none;
    border-radius: 1px;
  }
}

.heading-wrapper
{
  @include flex(row,center,center);
  flex-wrap: wrap;
  text-align: justify;
  @media#{$desktop}
  {
    background-size: 100% ;
    background-repeat: no-repeat;
  }  
}

.mobile-header 
{
  @include flex(column, space-around, center) ;
  width: 100%;
  .heading-wrapper
  {
    @include flex(row, space-around, center);
    width: 100%;
    margin: 1em;
    flex-wrap: nowrap;
    img
    {
      width:50%;
    }

    .lumelio-titre-blanc-jaune
    {
    width: 20%;
    }
    a
    {
      width:fit-content;
    }
  }
  h1
  {
    margin: .5em;
    text-align:start;
    color: white;
    font-size: 2.5em;
    span
    {
      display: contents;
      color: yellow;
    }
  }
  h5
  {
    text-align: start;
    color: white;
    font-size: 1.75em;
    font-weight: 500;
    span
    {
      display: contents;
      color: yellow;
    }
  }
  @media#{$desktop}
  {
    display: none;
  }
}


.review-section
{
  .numbers
  {
    @include flex(row, center, center);
    flex-wrap: nowrap;
    text-align: center;
    padding: 5%;
    div
    {
      @media#{$desktop}
      {
        margin:5%;
      }
    }
    @media#{$desktop}
    {
      background-color: $secondColorTransparency;
      border-radius: 10px;
    }
  }

  .p
  {
    @include flex(column, center, center);
    text-align: justify;
    margin: 10%;
    margin-block: -10%;
    margin-top: -20%;
    @media#{$mobile}
    {
      margin-top: -10%;
    }
  }
  .index

{
  margin-block:0;
  margin-top: 0;
}

  
  .quotation-mark
  {
    margin: -4%;
    @media#{$desktop}
    {
      margin: 0;
    }
    color: $firstColor;
    font-family: "Secular One";
    position: relative;
    font-size: 5em;
  }
  .un
  {
    transform: rotate(180deg);
    width: 100%;
    text-align: end;
  }
  .deux
  {
    width: 100%;
    text-align: end;
    margin: -7%;
    @media#{$desktop}
    {
      margin: 0;
    }
  }  
  .count
  {
    @include flex(row, center, center);
    font-size: 3em;
    color: $firstColor;
  }
  .strong
  {
    color: $firstColor;
  }
}

a
{
  width: 100%;
  text-decoration: none;
  color: #00b1eb;
}

a:hover
{
  color: rgb(255, 237, 0);
}

.video-wrapper
{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-block: 10%;
  @media#{$mobile}
  {
    margin-block: 0%;
    margin-bottom: 5%;
  }
}

.video-wrapper>video
{
  width: 90%;
  border-radius: 5px;
  box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.video-wrapper > .desktop
{
  margin-block: 10%;
}

.video-wrapper > .mobile
{
  display: none;
}

@media#{$mobile}
{
  .video-wrapper > .desktop
  {
    display: none;
  }
  .video-wrapper > .mobile
  {
    display: block;
  }
}

footer
{
  min-width: 100%;
}

footer>.footer-end>ul>li>a:hover
{
  color: white;
}

.image-wrapper
{
  @include flex(row,space-evenly, center);
  flex-wrap: wrap;
  width: 100%;
  padding-block: 10%;
}

.button-wrapper
{
    @include flex(row, space-evenly, center);
    flex-wrap: wrap;
    align-content: flex-end;
}

h1
{
  font-size: 3em;
  color: $firstColor;
  margin: 4%;
}

h2
{
  font-size:2.3em;
  color: $firstColor;
  margin:3%;
  @media#{$mobile}
  {
    text-align: center;
  }
}

h3
{
  font-size: 1.7em;
  color: $secondColor;
  margin-block: 2.5%;
}

h4
{
  font-size: 1.5em;
  color: #00b1eb;
  margin-block: 1.5%;
}

h5
{
  text-align: center;
  padding: 3%;
}

p
{
  width: 100%;
}

li
{
  list-style: none;
  margin-block: 3%;
}

.heading-center
{
    @include flex(column, center, center);
}

.heading-center-image
{
  max-width: 33vh;
  border-radius: 5px;
  margin: 5%;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

section
{
  @include flex(row, center, center);
  flex-wrap: wrap;
  margin-block: 2em;
  position: relative;
  @media#{$mobile}
  {
    @include flex(column, center, center)
  }
}

.content-wrapper
{
  @include flex(row,space-around,center);
  .first, .second
  {
    width: 90%
  }
}




footer
{
  background-color: #1E1248;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer>.lumelio-title
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.lumelio-title
{
  img
  {
    width: 20%;
  }
}

footer>.symbols>.image-wrapper
{
  display: flex;
  justify-content: flex-start;
  margin: 3%;
}

footer>.symbols
{
  display: flex;
  flex-direction: row;
}

footer>.symbols>.image-wrapper>img
{
  margin-right: 3%;
  width: 10%;
}

.footer-end
{
  width: 100%;
  padding-left: 3%;
  display: flex;
  flex-wrap: wrap;
}

.footer-end>.image-wrapper
{
  width: 70%;
}

.image-footer
{
  position: absolute;
  border-radius: 25px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.social-media
{
  width: 30%;
}


.footer-end>.social-media>a>img
{
  width: 39px;
}

.social-media>a
{
  padding-inline: 2%;
}

.footer-end>.pages>ul
{
    @include flex(column, left, center);
  width: 100%;
}

.footer-end>.pages>ul>li
{
  list-style: none;
}

.reveal 
{
  position: relative;
	transform: translateY(150px);
	opacity: 0.70;
	transition: 1s all ease;
}

.reveal.active 
{
	transform: translateY(0);
	opacity: 1;
}

.heading-left, .heading-right  
{
    @include flex(row,center,center);
  flex-wrap: wrap;
  padding: 5%;
  @media#{$mobile}
  {
    @include flex(column, center, center);
  }
} 

.heading-left>.heading-wrapper, .text-wrapper 
{
    display: flex;
    flex-direction: column;
}
  
.image
{
  box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}


.carousel-container
{
    @include flex(column, flex-end, center);
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.carousel-container-footer

{
    @include flex(column, flex-end, center);
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}


.carousel-image
{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: left 0.5s ease-in-out;
}


.heading-right>ul
{
  margin-block-start: 5%;
}

@media screen and (max-width: 768px)
{
  body
  {
    font-size: 14px;
  }
  
  
  .content-wrapper
  {
    width: -webkit-fill-available;
    @include flex(column, center, center);
    flex-wrap: wrap; 
  }
  .carac
    {
      align-items: flex-start;
    }

    
  .image-wrapper
  {
    @include flex(column, center, center)
  }

  footer>.symbols
  {
    display: flex;
    flex-direction: column;
  }

  .heading-wrapper
  {
    text-align: left;
  }
}