@import "./variables.scss";

@mixin flex($direction, $justify-content, $align-items)
{
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}


@mixin button($position, $width, $padding, $background-color, $color, $border, $border-radius, $font-size)
{
    position: $position;
    width:$width;
    padding: $padding;
    background-color: $background-color;
    color: $color;
    border:$border;
    border-radius: $border-radius;
    font-size: $font-size;
}

@mixin link
{
    color: $secondColorTransparency;
    text-decoration: none;
}

@mixin hover()
{
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px rgb(0 0 0 / 30%);
    background-color: $firstColor;
}