$firstColor : #1E1248;
$firstColorTransparency: rgba($firstColor, 0.7);
$secondColor : #ffed00;
$secondColorTransparency: rgba($secondColor, 0.7);
$thirdColor : #00b1eb;
$thirdColorTransparency : rgba($thirdColor, 0.5);
$border-dark: rgba($firstColor, 0.30);

$mobile: "(max-width: 768px)";
$desktop: "(min-width:769px)";
$iPad: "(min-width: 768px) and (max-width: 1024px)";