$firstColor : #1E1248;
$secondColor : #00b1eb;
$secondColorTransparency : rgba($secondColor, 0.5);
$thirdColor : #ffed00;
$thirdColorTransparency: rgba($thirdColor, 0.7);
$border-dark: rgba($firstColor, 0.30);

$mobile: "(max-width: 768px)";

$desktop: "(min-width:768px)";