@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@media screen and (max-width: 768px) {
  #solar-investment-image {
    width: 50%;
  }
  div.column {
    margin: 0;
  }
  section.design {
    flex-direction: column;
  }
  .social-media {
    width: 100%;
    text-align: center;
  }
  .text-wrapper > .heading-wrapper > h2 {
    display: grid;
  }
  .title-section > .text-wrapper > .heading-wrapper > h2 {
    display: none;
  }
  .heading-wrapper > h2 {
    padding: 5%;
    text-align: center;
  }
  .grid > .white > #pro-grid-title2, .grid > .white > #pro-grid-title3 {
    color: white;
  }
  .grid > .black > #offre-essentielle-grid-title2, .grid > .black > #offre-essentielle-grid-title3 {
    color: black;
  }
  .grid > #professionnels-grid {
    background-color: black;
    color: white;
  }
  .grid > #offre-essentielle-grid {
    background-color: white;
    color: black;
  }
  .avis-wrapper {
    flex-direction: column;
  }
  .avis-section > .image-wrapper > img {
    width: 100%;
  }
  .accreditation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20%;
  }
  .accreditation-section > img {
    max-width: 50%;
    height: auto;
  }
  #stockage-header {
    display: flex;
  }
  #revente-section {
    background-image: none;
    background-color: white;
  }
  #ugc-image {
    width: 50%;
  }
  #decompo-wrapper {
    display: none;
  }
  #decompo-bi-verre {
    display: none;
  }
  #decompo-bi-verre-phone {
    display: block;
    width: 90%;
  }
  section.heading-left > .image-wrapper > img {
    width: 90%;
  }
  #heading-wrapper-pro {
    width: 70%;
  }
}
#phone-link {
  width: 20px;
  height: auto;
}

button {
  position: relative;
  width: fit-content;
  padding: 2%;
  background-color: rgba(30, 18, 72, 0.7);
  color: #ffed00;
  border: none;
  border-radius: 5px;
  font-size: 1.1em;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
  background-color: #1E1248;
}

.bubble-button {
  position: fixed;
  width: 10em;
  padding: 0%;
  background-color: rgba(255, 237, 0, 0.7);
  color: #1E1248;
  border: rgba(0, 0, 0, 0.1) solid 1px;
  border-radius: 50%;
  font-size: 1.5em;
  z-index: 1;
  right: -10vh;
  height: 10em;
  padding-right: 7%;
  font-weight: 500;
}
@media (max-width: 768px) {
  .bubble-button {
    display: none;
  }
}

.bubble-button:hover {
  border: rgba(0, 0, 0, 0.4) solid 1px;
  background-color: #ffed00;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav {
  z-index: 1;
  position: absolute;
  padding-top: 2%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
}

.nav-button {
  position: relative;
  width: fit-content;
  padding: 5%;
  background-color: transparent;
  color: #1E1248;
  border: none;
  border-radius: 5px;
  font-size: 3em;
  box-shadow: 0 0 1px 1px #ffffff;
}

.nav-button:hover {
  background-color: rgba(30, 18, 72, 0.7);
}

.nav-menu {
  transition: transform 1s ease-in-out;
  transform: translateX(-100%);
  width: 100%;
  height: 50vh;
  font-size: 1.5em;
  position: absolute;
  top: 8.6vh;
  left: 0vh;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 1;
}

.nav-menu.show {
  transform: translateX(0);
}

.nav-li {
  font-weight: 500;
  text-align: start;
  padding-left: 1%;
}

.cross-wrapper {
  display: flex;
  justify-content: flex-end;
  padding-right: 3%;
  margin-bottom: -10%;
}
.cross-wrapper .cross-menu {
  position: relative;
  width: fit-content;
  padding: 2%;
  background-color: transparent;
  color: #1E1248;
  border: white solid 1px;
  border-radius: 5px;
  font-size: 1.3em;
}

@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

html, body {
  overflow-x: hidden;
  background: radial-gradient(circle at top left, rgba(255, 255, 255, 0.1) 20%, rgba(255, 238, 0, 0.35), rgba(0, 176, 235, 0.4666666667));
  font-size: 16px;
}

a {
  width: 100%;
  text-decoration: none;
  color: #00b1eb;
}

a:hover {
  color: rgb(255, 237, 0);
}

footer {
  min-width: 100%;
}

footer > .footer-end > ul > li > a:hover {
  color: white;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding-block: 10%;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-end;
}

h1 {
  font-size: 3em;
  color: #1E1248;
  margin: 4%;
}

h2 {
  font-size: 2.3em;
  color: #1E1248;
  margin: 3%;
}
@media(max-width: 768px) {
  h2 {
    text-align: center;
  }
}

h3 {
  font-size: 1.7em;
  color: #ffed00;
  margin-block: 2.5%;
}

h4 {
  font-size: 1.5em;
  color: #00b1eb;
  margin-block: 1.5%;
}

h5 {
  text-align: center;
  padding: 3%;
}

p {
  width: 100%;
}

li {
  list-style: none;
  margin-block: 3%;
}

.heading-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-center-image {
  max-width: 33vh;
  border-radius: 5px;
  margin: 5%;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-block: 2em;
  position: relative;
}
@media(max-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.content-wrapper .first, .content-wrapper .second {
  width: 90%;
}

.heading-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: justify;
}

@media(min-width:769px) {
  .header-wrapper {
    background-image: url("../../media/photo/chantier-solaire-estevelles.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

footer {
  background-color: #1E1248;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer > .lumelio-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer > .symbols > .image-wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 3%;
}

footer > .symbols {
  display: flex;
  flex-direction: row;
}

footer > .symbols > .image-wrapper > img {
  margin-right: 3%;
  height: 25px;
}

.footer-end {
  width: 100%;
  padding-left: 3%;
  display: flex;
  flex-wrap: wrap;
}

.footer-end > .image-wrapper {
  width: 70%;
}

.image-footer {
  position: absolute;
  border-radius: 25px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.social-media {
  width: 30%;
}

.footer-end > .social-media > a > img {
  width: 39px;
}

.social-media > a {
  padding-inline: 2%;
}

.footer-end > .pages > ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.footer-end > .pages > ul > li {
  list-style: none;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0.7;
  transition: 1s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.heading-left, .heading-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5%;
}

.heading-left > .heading-wrapper, .text-wrapper {
  display: flex;
  flex-direction: column;
}

.image {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.carousel-container-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.carousel-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: left 0.5s ease-in-out;
}

.heading-right > ul {
  margin-block-start: 5%;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .mobile .header-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 1em;
  }
  .mobile .header-wrapper img {
    width: 50%;
  }
  .mobile .header-wrapper .lumelio-titre-blanc-jaune {
    width: 20%;
  }
  .mobile h1 {
    margin: 0.5em;
    text-align: start;
    color: white;
    font-size: 2.5em;
  }
  .mobile h1 span {
    display: contents;
    color: yellow;
  }
  .mobile h5 {
    text-align: start;
    color: white;
    font-size: 1.75em;
    font-weight: 500;
  }
  .mobile h5 span {
    display: contents;
    color: yellow;
  }
  .content-wrapper {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .carac {
    align-items: flex-start;
  }
  .image-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer > .symbols {
    display: flex;
    flex-direction: column;
  }
  .heading-wrapper {
    text-align: left;
  }
  .heading-left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
  }
  .heading-left > .text-wrapper {
    grid-column: 1;
  }
  .heading-left > .image-wrapper {
    grid-column: 2;
    grid-row: 1;
  }
  .heading-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
#index-header {
  position: relative;
  min-width: 100%;
  min-height: 200px;
  height: 500px;
  text-align: center;
}
@media (max-width: 768px) {
  #index-header {
    background-image: url("../../media/photo/phone-background.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
  }
}
#index-header .cta-button {
  background-color: #ffed00;
  color: #1E1248;
  box-shadow: none;
  border-radius: 1px;
}

h1, #proprietaire-elec-title {
  font-size: 3em;
  color: #1E1248;
}

.title-section > .text-wrapper > .heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: stretch;
}

.avis-wrapper .content-wrapper {
  margin: 5%;
}

.text p {
  padding: 0%;
}

#index-title {
  display: none;
}

.background-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100px;
  object-fit: cover;
  z-index: -1;
}
@media (max-width: 768px) {
  .background-video {
    display: none;
  }
}

#index-title-section {
  margin-block: 0;
}

.title-and-subtitle-section-wrapper {
  background-image: url("../../media/photo/yellowCircle.png");
  background-position-x: 90%;
  background-position-y: 60%;
}
@media (max-width: 768px) {
  .title-and-subtitle-section-wrapper {
    display: none;
  }
}

.title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-inline: 10%;
  margin: -10%;
}

.title-section > img {
  min-height: 100%;
  height: 100%;
  width: 25%;
  min-width: 10%;
}
@media (max-width: 768px) {
  .title-section > img {
    display: none;
  }
}

.text-wrapper > .link-wrapper > a:hover {
  color: #00b1eb;
}

.text-wrapper > .link-wrapper {
  padding: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.subtitle-section {
  text-align: center;
  background-color: #1E1248;
}

.subtitle-section > h2 {
  color: white;
  padding: 2%;
}

.article-section {
  display: none;
  margin-inline: 5%;
}
@media(max-width: 768px) {
  .article-section {
    display: none;
  }
}

.article-section > .heading-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.article-section > .heading-wrapper > img {
  max-width: 30%;
}

.article-section > .text {
  padding: 2%;
  text-align: justify;
}

.who-section .who {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  padding: 5%;
}
@media(min-width:769px) {
  .who-section .who div {
    margin: 5%;
  }
}
@media(min-width:769px) {
  .who-section .who {
    background-color: rgba(255, 237, 0, 0.7);
    border-radius: 10px;
  }
}
.who-section .count {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #1E1248;
}
.who-section .strong {
  color: #1E1248;
}
.who-section .p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  margin: 10%;
}
.who-section .quotation-mark {
  margin: -4%;
  color: #1E1248;
  font-family: "Secular One";
  position: relative;
  font-size: 5em;
}
@media(min-width:769px) {
  .who-section .quotation-mark {
    margin: 0;
  }
}
.who-section .un {
  transform: rotate(180deg);
  width: 100%;
  text-align: end;
}
.who-section .deux {
  width: 100%;
  text-align: end;
  margin: -7%;
}
@media(min-width:769px) {
  .who-section .deux {
    margin: 0;
  }
}
.who-section .sylvie-review {
  display: none;
}

@media (max-width: 768px) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
  }
}
.grid .grid > .content-wrapper {
  width: 100%;
}
.grid .heading-right > .image-wrapper {
  grid-column: 1;
}
.grid .heading-right > .text-wrapper {
  grid-column: 2;
  grid-row: 1;
}

.grid > .content-wrapper {
  display: grid;
  justify-content: center;
  padding: 3%;
}

.grid .content-wrapper .link-wrapper {
  display: flex;
  justify-content: space-around;
}
.grid .content-wrapper button {
  margin: 5%;
  padding: 2%;
  border-radius: 1px;
}
.grid .first, .grid .last {
  background-color: rgba(255, 237, 0, 0.7);
}
.grid .first h2, .grid .first h3, .grid .first a, .grid .first p, .grid .last h2, .grid .last h3, .grid .last a, .grid .last p {
  color: #1E1248;
}
.grid .second, .grid .third {
  background-color: #1E1248;
}
.grid .second h2, .grid .second h3, .grid .second a, .grid .second p, .grid .third h2, .grid .third h3, .grid .third a, .grid .third p {
  color: white;
}
.grid .second button, .grid .third button {
  background-color: #ffed00;
  color: #1E1248;
}
.grid .second button:hover, .grid .third button:hover {
  box-shadow: 0px 0px 20px 1px rgba(255, 237, 0, 0.3);
}

.grid > .content-wrapper > .image-wrapper {
  width: 100%;
  margin-top: 5%;
  height: auto;
}

.grid > .content-wrapper > .image-wrapper > img {
  max-width: 75%;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-section > .content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin: 5%;
  padding: 5%;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
}

.form-section > .content-wrapper > .heading-wrapper {
  margin-bottom: 3%;
  padding-bottom: 3%;
  border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
  text-align: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pop-up {
  display: none;
}

form > select {
  width: 100%;
  margin-inline: 25%;
  margin-bottom: 5%;
  border-radius: 4px;
  padding: 2%;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0);
}

form > .input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
}

form > .input-wrapper > input, textarea {
  max-width: 200px;
  margin: 3%;
  border-radius: 4px;
  padding: 2%;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}

form > h4 {
  width: 100%;
  text-align: center;
}

form button {
  position: relative;
  width: 40%;
  padding: 1%;
  background-color: #6f59ba;
  color: #ffed00;
  border: none;
  border-radius: 1px;
  font-size: 1em;
  margin: 4%;
  box-shadow: 0px 0px 10px 0px rgba(140, 151, 74, 0.55);
}

.avis-section {
  text-align: center;
}

.avis-wrapper {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 768px) {
  .avis-wrapper {
    flex-direction: column;
  }
}

.avis-section > .image-wrapper > img {
  background-color: white;
  width: 50%;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.5);
}

.accreditation-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.accreditation-section > .heading-wrapper {
  width: 100%;
  text-align: center;
}

.accreditation-section > .image-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.accreditation-section > .image-wrapper > .image-wrapper {
  width: auto;
  height: 300px;
}

.accreditation-section > .image-wrapper > .img {
  max-width: 80%;
  height: 100%;
  padding: 5%;
}

#logo-edf, #logo-hauts-de-france, #logo-rge {
  margin: -30px;
}

.call-to-action-section, #call-to-action-div {
  width: 100%;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
